body{
    font-family: 'Roboto', sans-serif;
    background: url("pictures/noche.jpg");
    background-size: contain;/*con esto se adapta la imagen al contenedor*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;/*con esto el body ocupa el 100% de la pantalla en todos los casos*/

}
/*Con esto se configura el logo del header*/
header{
    padding: 10px 0px 0px 10px;
}

.logo img{
    margin: 10px 0px 0px 20px;
    width: 80px;
    display: inline-block;
}
main{
    /*text-align: center;*/
    display: flex;
    height: 75%;
    margin: 0 0 10px 0;
    
}

/*configurando el cuerpo de la aplicación*/
/*esto es del input*/
.input_t{
    /*background:greenyellow;*/
    padding: 10px 80px;
    width: 700px;
    height: auto;
    margin: 0px 10px 0px 70px;
}
.input_t textarea{
    width: 670px;
    height: 450px;
    margin: 0 0 0 10px;
    background:none;
    resize: none;
    border: none;
    font-style: normal;
    font-size: 32px;
    line-height: 150%;
    color: #ffffff;
    
}
.input_t textarea:focus{
    outline: none;
    border: none;
}/*con esto no te sale el borde del text area*/

.alerta p{
    font-size: 12px;
    line-height: 18px;
    line-height: 150%;
    text-align: left;
    vertical-align: top;
    opacity: 80%;
    color: #ffffff;

}

.alerta{
    display: inline-flex;
    margin: 10px 0 ;
    color: #ffffff;
}

.alerta img{
    width: 16px;
    margin: 0px 8px;
}

.contenedor_botones{
    display: flex;
    width: 670px;;
    padding: 0 10px;
    gap: 15%;
}

.contenedor_botones input{
    color: #f0e7e7;
    width: 300px;
    height: 47px;
    font-size: 16px;
    border-radius: 24px;
    
}
.contenedor_botones #encriptar{
    background:#1e46f7b5;
}

.contenedor_botones #desencriptar{
    background:#37aff4b5;
}


/*esta parte pertenece al output*/
.output_t{
    position:relative;
    background: #c8d5e148;
    flex-direction: column;
    text-align: center;
    width: 375px;
    min-width: 50vh;
    margin: 0px 25px 15px 70px;
    padding: 0 2px;
    border-radius: 32px;
    
}
.output_text{
    width: auto;
    height: auto;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 50px;
    position: absolute;
    margin: 25px 10px;
    padding: 10px;
    /*background: red;*/
}

.parrafos{
    text-align: center;
    padding: 0 20px;
}
.output_text img{
    width: 300px;
}
.output_text h1{
    font-size: 24px;
    line-height: 29px;
    line-height: 120%;
    color: #c1b7b7;
}
.output_text p{
    font-size: 16px;
    line-height: 24px;
    line-height: 150%;
    color: #c8d5e1;
}

.output_text textarea{
    color: #ffffff;
    position: absolute;
    top: 1px;
    right: 8px;
    left: 10px;
    bottom: 1px;
    height: auto;
    width: auto;
    background:none;
    resize: none;
    border: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.botones_2{
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin: 10px 47px;
}

.botones_2 input{
    color: #f0e7e7;
    background: #37aff4b5;
    width: 280px;
    height: 47px;
    font-size: 16px;
    border-radius: 24px;
    display: none;
    
}

.output_text textarea:focus{
    outline: none;
    border: none;
}

::placeholder{
    color:#ffffff;
}

/*configurando el footer*/
footer{
    text-align: center;
    color: #ffffff;
    margin-top: auto;
}

.contacto{
    padding: 15px;
}

.contacto img{
    margin: 0 5px;
    width:2%;
    
}